<div class="hero container fixed-top p-0">
    <div class="container-fluid p-0" >
        <div id="rowid" class="row d-flex align-items-center">
            <div class="col-md p-0">
                <img id="logo" src="../assets/logos/MicrosoftTeams-image (8).png" alt="logo" routerLink="/">
            </div>

            <div class="col-md d-flex p-0 align-items-center justify-content-end">
                <div id="textairpets"> Ready to AirPets it?</div>
                <div>
                    <button  (click)="onClickSetup()" id="airptsbtn" type="button" class="btn">
                        <img src="../assets/icons/add_home_FILL0_wght400_GRAD0_opsz48.svg" alt=""> Airpets Setup
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="line" class="container pt-5 mt-2 mb-5">
    <div id="colcntr" class="section mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">
                    AirPets it easily with AirPets Setup
                </h1>
                <img id="firstimg" class="img-fluid mb-3" width="900px" src="../assets/images/firstimg.png">
                <h5>
                    Register your home to accommodate pets from various pet lovers who needs your service.
                </h5>
            </div>
        </div>
    </div>
</div>
<div id="line" class="container">
    <section id="colcntr">
        <div class="row-md">
            <div class="col">
                <h1 class="mb-5">
                    Other Services
                </h1>
                <img class="img-fluid mb-3" width="900px" src="../assets/images/Responsible-pet-ownership-700X4001.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-4" id="justify">
                <h5>
                    Register as Pet Sitter!
                </h5>
                <p>
                    Want to spread the love to more pets as a pet sitter? The main job of a pet sitter is to take care
                    of customers’ pets while they are away for work or travel.
                    <br>
                    <br>
                    If you love taking care of pets, take this as an opportunity and earn money by taking care of
                    other’s fur babies!
                </p>
            </div>
            <div class="col-md-4 p-4" id="justify">
                <h5>
                    Do you have pet clinic with wide place?
                </h5>
                <p>
                    Help us enrich the lives of pets and their families by providing excellent pet care, peace of mind
                    trust and security.
                    <br>
                    <br>
                    if your goal is to be the preferred choice for alternative pet care solutions by providing a variety
                    of affordable pet care services, this is your time! Register your clinic as one of places, pet
                    lovers will entrust their pets while they are away.
                </p>
            </div>
            <div class="col-md-4 p-4" id="justify">
                <h5>
                    Do you have pet clinic with wide place?
                </h5>
                <p>
                    Do you have pet clinic with wide place? Come and lets Aipets it!
                    <br>
                    <br>
                    You have the options to create a Airpets to accommodate pets to have a temporary shelter and
                    have an option to add services offered by the Airpets.
                </p>
            </div>
        </div>
    </section>
</div>
<div class="container mt-2">
    <section>
        <div class="row align-items-center p-3">
            <div class="title3 col-md-6 p-5">
                <h1>
                    It's easy to get started on AirPets
                </h1>
            </div>
            <div class="col-md-6 mt-5">
                <div class="bottom-right">
                    <div class="bottom-right-container">
                        <h5 style="font-size: medium;">
                            1. Tell us about your place
                            <p class="fontzxc pl-2 ">
                                Share some basic info, like where it is and how wide
                                is your area.
                            </p>
                        </h5>
                        <img src="../assets/icons/Capture.JPG" alt="">
                    </div>
                    <div class="bottom-right-container">
                        <h5 style="font-size: medium;">
                            2. Make it stand out
                            <p class="fontzxc ">
                                Add some photos plus title and description
                                well help you out.
                            </p>
                        </h5>
                        <img src="../assets/icons/images.jpg" alt="">
                    </div>
                    <div class="bottom-right-container">
                        <div>
                            <h5 id="justify" style="font-size: medium;">
                                3. Finish up and publish
                            </h5>
                            <p class="fontzxc pl-2 ">
                                Set starting price, and publish your listing.
                            </p>
                        </div>
                        <img src="../assets/icons/download.jfif" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="resize container fixed-bottom">
    <div id="rowid" class="row d-flex align-items-center justify-content-center">
        <div class="col-xl d-flex align-items-center justify-content-center">
            <div id="textairpets"> Ready to AirPets it?</div>
        </div>
        <div class="col-xl">
            <button id="airptsbtn" type="button" class="btn ">
                <img src="../assets/icons/add_home_FILL0_wght400_GRAD0_opsz48.svg" alt=""> Airpets Setup
            </button>
        </div>
    </div>
</div>
